
services:
  run_trainer:
    build: .
    env_file:
      - .env
      - .private-env

    volumes:
       
      # Named volumes to persist node_modules and build artifacts but avoid them being copied to host machine
      - node_modules_volume:/app/src/frontend/node_modules
      - dist_volume:/app/src/frontend/dist

      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./requirements.txt:/app/requirements.txt

    
    ports:
      - ${DJANGO_SERVER_PORT}:80
      - ${DEV_SERVER_PORT}:81
volumes:
  node_modules_volume:
  dist_volume: